{{- define "main" }}

{{ $data := index site.Data site.Language.Lang }}
<article class="post-single about">

  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <span class="social-icons">
      <a target="_blank" href="{{ .Params.Resume.Url }}" aria-label="{{ i18n "download_resume" }}" title="{{ i18n "download_resume" }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
          <path fill="currentColor" fill-rule="evenodd" d="M1.44.44A1.5 1.5 0 0 1 2.5 0h6a.5.5 0 0 1 .354.146l4 4A.5.5 0 0 1 13 4.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 1 12.5v-11c0-.398.158-.78.44-1.06m3.515 3.51a1.024 1.024 0 1 0 0-2.048a1.024 1.024 0 0 0 0 2.048M2.876 8.5c0-.345.279-.625.624-.625h7a.626.626 0 0 1 .002 1.25h-7a.626.626 0 0 1-.626-.625m0 3c0-.345.279-.625.624-.625h4a.626.626 0 0 1 .002 1.25h-4a.626.626 0 0 1-.626-.625m2.08-6.866c-.7 0-1.339.263-1.822.696c-.287.257-.063.67.322.67h2.998c.386 0 .61-.413.323-.67a2.72 2.72 0 0 0-1.822-.696" clip-rule="evenodd"/>
        </svg>
        {{ i18n "resume_abbr" }}
      </a>
    </span>
  </header>
  
  <div class="post-content">
    <section>
      {{- partial "cover.html" (dict "cxt" . ) }}
      {{ $data.blurb.actual | markdownify }}
    </section>
    <section>
      <h2 id="bio">Bio<a hidden="" class="anchor" aria-hidden="true" href="#bio">#</a></h2>
      <span>{{ $data.blurb.bio | markdownify }}</span>    
    </section>
    <section class="keep-in-contact">
      <h2 id="keep-in-contact">{{ i18n "keep_in_contact" }}<a hidden="" class="anchor" aria-hidden="true" href="#keep-in-contact">#</a></h2>
      <span>
        {{- partial "social_icons.html" (where site.Params.socialIcons "name" "in" .Params.SocialIcons) }}
      </span>    
    </section>
    <section class="certifications">
      <h2 id="certifications">{{ i18n "certifications" }}<a hidden="" class="anchor" aria-hidden="true" href="#certifications">#</a></h2>
      <ul class="badges">
      {{ range site.Data.earnedbadges }}
        <li>
          <a target="_blank" href="{{ .url }}" aria-label="{{ .name }} badge">
            <img alt="" src="{{ .badge.icon }}">
          </a>
          <p>
            {{ i18n "issued_by" }}<br /><a target="_blank" href="{{ .issuer.url }}"><b>{{ .issuer.name }}</b></a>
          </p>
        </li>
      {{ end }}
      </ul>
    </section>
  </div>

</article>

{{- end }}{{/* end main */}}
