<script src="https://cdn.jsdelivr.net/npm/mermaid@9.1.1/dist/mermaid.min.js" integrity="sha256-8L3O8tirFUa8Va4NSTAyIbHJeLd6OnlcxgupV9F77e0=" crossorigin="anonymous"></script>
<script>mermaid.initialize({ startOnLoad:true, securityLevel: 'loose', theme: 'base' });</script>
{{- if (eq .Layout "search") -}}
{{- $custom := resources.Get "js/quick.search.js" | minify | fingerprint -}}
<script defer src="{{ $custom.Permalink }}" integrity="{{ $custom.Data.Integrity }}" crossorigin="anonymous"></script>
{{- end -}}
{{- if site.Params.Accessibility.ShowViolations -}}
<script src="https://cdn.jsdelivr.net/npm/axe-core/axe.min.js" integrity="sha256-6eWGPDOodPCbwBrNkjS348hxR59e74gC+lglREZebQE=" crossorigin="anonymous"></script>
<script>
    axe
        .run()
        .then(results => {
            results.violations.forEach(v => {
                const message = `[${v.impact}] ${v.help}: ${v.description}\n(${v.id}: ${v.helpUrl})`;
                const colors = {
                    critical: 'rgba(255, 0, 0, 1)',
                    serious: 'rgba(255, 0, 0, .5)',
                    moderate: 'rgba(255, 255, 0, 1)',
                    minor: 'rgba(255, 255, 0, .5)'
                };
                v.nodes.forEach(n => {
                    n.target.forEach(selector => {
                        const el = document.querySelector(selector);
                        if (el) {
                            el.style.outline = `3px solid ${colors[v.impact] || colors.minor}`;
                            el.style.outlineOffset = '2px';
                            el.setAttribute('title', message);
                        }
                    })
                })
            })
        })
</script>
{{- end -}}