{{- if or .Params.changelog.URL site.Params.changelog.URL -}}
{{- $fileUrlPath := path.Join .File.Path }}

{{- if or .Params.author site.Params.author (.Param "ShowReadingTime") (not .Date.IsZero) .IsTranslated (or .Params.editPost.URL site.Params.editPost.URL) }}&nbsp;|&nbsp;{{- end -}}
<a href="{{ .Params.changelog.URL | default site.Params.changelog.URL }}{{ if .Params.changelog.appendFilePath | default ( site.Params.changelog.appendFilePath | default false ) }}/{{ $fileUrlPath }}{{ end }}" rel="noopener noreferrer" target="_blank">
    {{- .Params.changelog.Text | default (site.Params.changelog.Text | default (i18n "changelog_post" | default "Changelog")) -}}
</a>
{{- end }}
