.post-tags a {
  color: var(--content);
  background: var(--code-bg);
}

body:not(.dark) .post-content p a:not(.lnlinks) {
  color: var(--secondary);
}

.post-content p a:not(.lnlinks) {
  color: var(--tetriary);
}

.post-meta a {
  color: var(--tetriary);
}
