.post-entry {
  page-break-inside: avoid;
  -webkit-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: unset;
}

.share-buttons {
  border: unset;
  justify-content: center;
}

.post-content img {
  margin: auto;
}

.highlight span.lnt a {
  box-shadow: unset;
}

.post-content table th, .post-content table:not(.highlighttable) td {
  border-bottom: unset;
}

.two-columns {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: var(--gap);
}

.case-study .list-header {
  border-bottom: 2px solid var(--border);
  padding-bottom: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.dark figure.background-light img {
  background-color: whitesmoke;
  padding: 0.5rem;
}

.top-link {
  bottom: 30px;
}

.post-content section.keep-in-contact a {
  box-shadow: unset;
}

.post-content section.certifications a {
  box-shadow: unset;
}

.post-content section.certifications .badges {
  display: flex;
}

.post-content section.certifications .badges div {
  max-width: 30%;
  margin: 0 auto;
}

.post-content section.certifications .badges div p {
  padding-top: 15px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .case-study .list-header {
    margin-bottom: 20px;
  }

  .post-entry {
    margin-bottom: var(--gap);
  }

  .two-columns {
    display: block;
  }

  .post-content section.certifications .badges {
    display: block;
  }

  .post-content section.certifications .badges div {
    max-width: unset;
    margin: unset;
  }
}

@media screen and (max-width: 900px) {
  .list .top-link {
    transform: unset
  }
}
