.share-buttons {
    border: unset;
    justify-content: center;
}

.post-content img {
    margin: auto;
}

.highlight span.lnt a {
    box-shadow: unset;
}

.post-content table th, .post-content table:not(.highlighttable) td {
    border-bottom: unset;
}
