.github-ref-container {
  display: flex;
}

.github-ref-container h2 {
  padding: var(--gap);
  z-index: 1;
  position: relative;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: 1px 2px 4px 0 var(--secondary);
  margin: auto auto var(--gap) auto;
  overflow: hidden;
  max-width: var(--main-width);
  background-color: var(--theme);
}

.github-ref-container h2 svg {
  width: 1.15em !important;
  max-width: 1.1em !important;
  display: inline-block;
  left: 0px;
  margin-right: 0.3em;
  vertical-align: -0.18em;
}

.github-ref-container h2 svg path {
  fill: var(--primary);
}
